<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBIMservice" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.narodni-bim-knihovna.cz/BIMservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBIMservice"
                contract="BimLibraryService.IBIMservice" name="BasicHttpBinding_IBIMservice" />
        </client>
    </system.serviceModel>
</configuration>